.night_market{
   
}
.btn_market{
    position: relative;
    width: 35px;
    height: 35px;
    background-color: white;
     /*display: none;*/
     border: none;
     outline: none !important;
     padding: 0px;
     border-radius: 15%;
     
    &:hover{
        
        
        border: 1px solid black;
       
    }
    &:before {
        content: "";
        position: absolute;
        z-index: 5;
        top: 4px;
        left: 7px;

        display: block;
        width: 20px;
        height: 25px;
        background-color: goldenrod;
    }
    &:after{
        content: "";
        position: absolute;
        z-index: 6;
        top: 12px;
        left: 12px;

        display: block;
        width: 10px;
        height: 10px;
        background-color: black;
        transform: rotate(45deg);

    }
}